
.card {
margin: 10px;
style: width:300px;
}

.wrap{
    width: 100px;
    margin: auto;
    margin-top: 100px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6)
}

.container{

}

#content{
    display:flex;
    flex-wrap:wrap;

}

.btn blue {
    color:#003da5;
}

a.btn {
    color:#003da5;
    text-color:white;
}

i.icon-white{
    color:white
}

ul li a {
    font-weight:bold;
    font-size: 12px;
}