<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${tests} and ${tests.size()}">no tests :(</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <!--<th>Instruction</th>-->
    </tr>

    <tr th:each="test : ${tests}">
        <td th:text="${test.name}"></td>
        <td th:text="${test.description}"></td>
        <!--<td th:text="${test.instruction}"></td>-->
        <!--<td th:text="${cheese.category.name}"></td>-->
        <td> <a th:href="@{'test/edit/' + ${test.id}}"> Edit </a><a th:href="@{'test/view/' + ${test.id}}">| View</a></td>

    </tr>

</table>
<!--<a th:href="@{'test/view/' + ${test.id}}"></a>-->
<p><a href="test/add">Add Test</a> | <a href="test/remove">Remove</a></p>



</body>
</html>