<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--<head th:replace="fragments :: head"></head>-->
<head lang="en">
    <meta charset="UTF-8"/>
    <meta description="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/assets/css/app.css}"/>
    <link rel="shortcut icon" href="http://static1.squarespace.com/static/560351b3e4b07ebf58d7494f/t/592cb5fa6a4963289421f421/1496102394637/Bert+Gilbert_favicon_eye_200x200.jpg?format=1000w" type="image/x-icon"/>
    <script th:src="@{/assets/ckeditor/ckeditor.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <title>Ophthamology</title>
</head>
<body>
    <main>
        <nav th:replace="fragments :: navigation"></nav>
        <div class="small-gap"></div>
        <div class="container">
            <h3 th:text="${title}">Default Title</h3>
            <div class="small-gap"></div>
            <form method="post" th:action="@{/page/new}" th:object="${page}">
                <div class="input-field">
                    <input type="hidden" name="id" th:value="*{id}"/>
                    <label th:for="name" th:text="'Page Title'" ></label>
                    <input type="text" th:field="*{name}"/>
                </div>
                <div class="input-field">
                    <label th:for="url">Custom Url <span th:errors="*{url}" class="error"></span></label>
                    <input type="text" th:field="*{url}"/>
                </div>
                <div class="input-field">
                    <label th:for="editor" th:text="'Body'" style="position: relative; top: -10px;"></label>
                    <textarea th:field="*{body}" name="editor" id="editor" ></textarea>
                    <script>
                        CKEDITOR.replace( 'editor' );
                    </script>
                </div>
                <div class="large-gap"></div>
                <button type="submit" value="Save Page" class="btn waves-effect">SAVE PAGE</button>
            </form>
        </div>
        <div class="large-gap"></div>
    </main>
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: scripts"></div>
</body>
</html>
