<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--<head lang="en"></head>-->
<head lang="en">
    <meta charset="UTF-8"/>
    <meta description="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/assets/css/app.css}"/>
    <link rel="shortcut icon" href="http://static1.squarespace.com/static/560351b3e4b07ebf58d7494f/t/592cb5fa6a4963289421f421/1496102394637/Bert+Gilbert_favicon_eye_200x200.jpg?format=1000w" type="image/x-icon"/>
    <!--<link rel="stylesheet" th:href="@{../assets/css/wapp.css}"/>-->

    <title>Ophthalmology</title>
</head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<h3 th:text="${title}">Default Title</h3>

<div class="container">
    <form method="post"  th:object="${form}" th:action="@{/doctor/add-test}">
        <div class="form-group">
            <label>Tests</label>
            <select name="testId" th:for="testId">
                <option th:each="test : *{tests}"
                        th:text="${test.name}"
                        th:value="${test.id}">
                </option>
            </select>
        </div>

        <input type="hidden" name="doctorId" th:value="*{doctor.id}" />

        <input type="submit" value="Add Test" />
    </form>
</div>



<script th:src="@{/assets/ckeditor/ckeditor.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: scripts"></div>
</body>
</html>