<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<head lang="en">
    <meta charset="UTF-8"/>
    <meta description="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/assets/css/app.css}"/>
    <link rel="stylesheet" href="https://rawgit.com/outboxcraft/beauter/master/beauter.min.css"/>
    <link rel="stylesheet" th:href="@{../assets/css/wapp.css}"/>
    <script th:src="@{/assets/ckeditor/ckeditor.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <title>Ophthamology</title>
</head>
<body>

    <nav th:replace="fragments :: navigation"></nav>
    <!--<div th:replace="fragments :: flash"></div>-->

    <!--<div class="small-gap"></div>-->
    <div class="container _alignCenter">
        <div class="card" style="width:200px">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzO1D532X5LDmJ7LjYWAnVXDHUR7ngSNQZwZUdFB37jz7hvogg5Q" class="-thumb _alignCenter" height="50px" />
            <h3 th:text="*{title}" class="_alignCenter"></h3>
        </div>
    </div>

    <!--<div class="container">-->

        <!--<div>-->
            <!--<div>-->
                <!--<button class="accordion _box _shadow _info">Clinic Description</button>-->
                <!--<div class="-panel">-->
                    <!--<p>Hello this is one more accordion. Very useful for creating process based or choice based stuff.</p><img src="/img/pink.jpg"/>-->
                <!--</div>-->
                <!--<button class="accordion _box _shadow _info">Work Up Instructions</button>-->
                <!--<div class="-panel" th:each="doctor : ${doctors}">-->
                    <!--<p th:text="*{clinic}">Hello this is one more accordion. Very useful for creating process based or choice based stuff.</p><img src="/img/pink.jpg"/>-->
                <!--</div>-->

            <!--</div>-->

        <!--</div>-->

    <div>
        <button class="accordion _box _shadow _dark">Test Description</button>
        <div class="-panel">
            <p th:text="*{clinic}"></p>
        </div>
    </div>

    <div>
        <button class="accordion _box _shadow _dark">Instructions</button>
        <div class="-panel">
            <p th:text="*{instruction}"></p>
        </div>
    </div>
    <div>
        <button class="accordion _box _shadow _dark">Test</button>
        <div class="-panel">
            <div>
                <ul th:each="test : ${tests}">
                    <a th:href="'/test/view/' + ${test.id}">
                        <li th:text="${test.name}"></li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <!--</div>-->
        <!--<h1>Edit Test <span th:text="${doctor.name}"></span></h1>-->
        <!--<h4>Cheese Id : <span th:text="${cheeseId}"></span></h4>-->
        <!--<table class="table">-->
            <!--<tr th:each="doctor : ${doctors}">-->
                <!--<td>Name :</td>-->
                <!--<td th:text="*{title}"></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Doctor: </td>-->
                <!--<td th:text="*{title}"></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Clinic :</td>-->
                <!--<td th:text="*{clinic}"></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Work Up:</td>-->
                <!--<td th:text="*{instruction}"></td>-->
            <!--</tr>-->

        <!--</table>-->

        <!--<ul th:each="test : ${tests}">-->
            <!--<a th:href="'../../test/view/' + ${test.id}">-->
                <!--<li th:text="${test.name}"></li>-->
            <!--</a>-->
        <!--</ul>-->


        <!--<div>-->
            <!--<ul th:each="test : ${tests}">-->
                <!--<a th:href="'/test/view/' + ${test.id}">-->
                    <!--<li th:text="${test.name}"></li>-->
                <!--</a>-->
            <!--</ul>-->
        <!--</div>-->


        <!--<ul th:each="test : ${tests}
        th:unless="${tests.size()}"-->


        <!--<ul>-->
            <!--<li th:each="test : ${tests}">-->
                <!--<a th:href="'../../test/view/' + ${test.id}" th:text="test.name">-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->

        <!--<p  th:unless="${tests.size()}"><i>No tests yet</i></p>-->

        <!--<p><a th:href="'/doctor/add-test/' + ${doctorId}">Add Test</a></p>-->
    <div class="row">
        <div class="col s12">
            <a href="'doctor/add-test/' + ${doctorId}"> <button type="button" class="btn blue darken-4">Add Test</button></a>  <a href="test/remove"><button type="button" class="btn blue darken-4">Remove Test</button></a>
        </div>
    </div>
    <div class="small-gap"></div>
<footer th:replace="fragments :: footer"></footer>
<div th:replace="fragments :: scripts"></div>

</body>
</html>


<!--TODO Before fixing the issue-->
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->

<!--<body class="container">-->

<!--<h1 th:text="${title}">Default Title</h1>-->

<!--<nav th:replace="fragments :: navigation"></nav>-->

<!--<table class="table">-->
    <!--<tr th:each="doctor : ${doctors}">-->
        <!--<td>Name :</td>-->
        <!--<td th:text="*{title}"></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Doctor: </td>-->
        <!--<td th:text="*{title}"></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Clinic :</td>-->
        <!--<td th:text="*{clinic}"></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Work Up:</td>-->
        <!--<td th:text="*{instruction}"></td>-->
    <!--</tr>-->
<!--</table>-->


<!--<table class="table">-->
    <!--<tr th:each="doctor : ${doctors}">-->
        <!--<td>Doctor:</td>-->
        <!--<td th:text="*{name}"></td>-->
    <!--</tr>-->

    <!--<tr>-->
        <!--<td>Clinic:</td>-->
        <!--<td th:text="*{clinic}"></td>-->
    <!--</tr>-->

    <!--<tr>-->
        <!--<td>Work Up:</td>-->
        <!--<td th:text="*{description}"></td>-->
    <!--</tr>-->
<!--</table>-->
<!--<p th:unless="${doctors.size()}"><i>No Test Yet</i></p>-->

<!--<p><a th:href="'/menu/add-item/' + ${menuId}">Add Cheese</a></p>-->




<!--</body>-->
<!--</html>-->